@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: content-box;
  font-size: 30px;
}

html {
  background-image:(url:)
}

#mainPageTitle {
  font-family: 'Playfair Display', serif;
  font-size: 125px;
  text-align: center;
  text-shadow: -4px 2px 1px gainsboro;
}

blockquote {
  margin: 0;
  padding: 1em;
  background-color: #f9f9f9;
  border-left: 10px solid darkgoldenrod;
  font-weight: 100;
}

blockquote span {
  font-style: normal;
  font-weight: bold;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.za{text-align: right; font-weight: 100; font-style: italic;}
.xa {  
  background: linear-gradient(-90deg, darkred, red, crimson, rgb(237, 200, 200));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: inline;
}
.basicHeader {font-family: 'Playfair Display', serif;}

.typography {font-family: 'Playfair Display', serif;}

.typography::first-letter {
  font-size: 100px;
  font-weight: 100;
  background: linear-gradient(240deg, gainsboro, grey, black);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

body {
	margin: 0 340px;
  text-align: justify;
}

q.cit {text-align: justify;}


.elementTitle {
	font-weight: bold;
  font-style: italic;
}

.orange-shadow {
	color: black;
	text-shadow: 1px -1px .125px red;
}

.headerDemo {
	text-align: center;
  border: 2px solid black;
  margin: 2px 0;
  padding: 10px 0;
}

.paragraph-one {
  border: 2px dotted blue;
}

.code-green {
  font-family: 'Courier New', Courier, monospace;
  background-color: green;
  color: rgb(216, 255, 172);
  border: 2px inset rgb(0, 72, 0);
  font-size: 24px;
  border-radius: 3px;
}

.code-red {
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(99, 4, 4);
  color: rgb(255, 174, 174);
  border: 2px ridge rgb(134, 0, 27);
  font-size: 10px;
  border-radius: 3px;
}
.comment-green {
  color: green;
}

.indigo-shadow {
  color: black;
  text-shadow: -0.05em 0.05em 0.1em indigo;
}

.txt {
  font-family: 'Nanum Gothic Coding', monospace;
}

.referenceLinks {
  font-family: 'Nanum Gothic Coding', monospace;
	text-align: right;
	padding-bottom: 4px;
	padding-top: 4px;
	margin-bottom: 4px;
	margin-top: 4px;
	border-top: 2px solid gainsboro;
	display: block;
}

pre.markUp {
  font-size: 16px;
}

.buttonRtrn {
  font-family: 'Courier New', Courier, monospace;
  background-color: lightgrey;
  color: black;
  border: 2px inset grey;
  font-size: 13px;
  padding: 2px;
}

canvas {
	border: 5px outset gold;
	background: linear-gradient(180deg, rgb(121, 95, 0), darkgoldenrod, goldenrod, gold, yellow, gainsboro);
}

table, tr, th, td {
	border: 2px solid red;
}

caption {
	border: 2px solid blue;
}



.gradient {
  text-shadow: .1em .1em .1em gainsboro;
  background: linear-gradient(135deg, orange 60%, cyan);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

span.txt {
  display: block;
}

.txt sup {
  font-size: 7px;
  text-decoration: none;
}

.elementExplanation {
  padding: 40px;
}