@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap');

.headers {
  text-align: center;
  border: 2px solid black;
  margin: 2px 0;
  padding: 10px 0;
}

.paragraph-one {
  border: 2px dotted blue;
}

.code-green {
  font-family: 'Courier New', Courier, monospace;
  background-color: green;
  color: rgb(216, 255, 172);
  border: 2px inset rgb(0, 72, 0);
  font-size: 10px;
  border-radius: 3px;
}

.code-red {
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(99, 4, 4);
  color: rgb(255, 174, 174);
  border: 2px ridge rgb(134, 0, 27);
  font-size: 10px;
  border-radius: 3px;
}
.comment-green {
  color: green;
}

.orange-shadow {
  color: black;
  text-shadow: 0.1em 0.1em 0.005em gold;
}
.indigo-shadow {
  color: black;
  text-shadow: -0.05em 0.05em 0.1em indigo;
}

.txt {
  font-family: 'Nanum Gothic Coding', monospace;
}

.referenceLinks {
  font-family: 'Nanum Gothic Coding', monospace;
	text-align: right;
	border-top: 2px solid gainsboro;
	display: block;
}

.button {
  font-family: 'Courier New', Courier, monospace;
  background-color: lightgrey;
  color: black;
  border: 2px inset grey;
  font-size: 13px;
  padding: 2px;
}

.gradient {
  background: linear-gradient(135deg, orange 60%, cyan);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

span.txt {
  display: block;
}

.txt sup, .txt a {
  font-size: 7px;
  text-decoration: none;
}

#HTML-1 {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 60px;
	text-align: center;
	text-shadow: 1px 1px 1px gold;
}
